.cards {
  margin: 0 0 48px;
  padding: 20px 20px;
  list-style-type: none;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

@media all and (min-width: 1024px) {
  .cards {
    margin-bottom: 32px;
    padding-bottom: 24px;
  }
}
