.header__button-to-support {
  background-image: url(../../../images/header__button-to-support.svg);
  background-position: center;
  background-size: 100%;
  width: 153px;
  height: 48px;
  background-color: #FFD400;
  border-style: none;
  cursor: pointer;
  transition: opasity .4s;
  margin-right: 8px;
  display: none;
}

@media (min-width: 1440px) {
  .header__button-to-support {
    display: flex;
    margin-left: 32px;
  }
}
