.header__button-like {
  background-image: url(../../../images/header__button-like.svg);
  background-position: center;
  background-size: 100%;
  width: 20px;
  height: 18px;
  background-color: #FFD400;
  border-style: none;
  cursor: pointer;
  transition: opasity .4s;
  margin-right: 4px;
}

@media (min-width: 1440px) {
  .header__button-like {
    margin-right: 8px;
    width: 24px;
    height: 21px;
  }
}
