.header__menu {
  background-image: url(../../../images/header__menu.svg);
  background-position: center;
  background-size: 100%;
  width: 20px;
  height: 18px;
  background-color: #FFD400;
  border-style: none;
  cursor: pointer;
  transition: opasity .4s;
}
