.header__button-move {
  display: flex;
  align-items: center;
  padding: 14px 24px 13px 24px;
  box-sizing: border-box;
  background-color: #FFD400;
  border-style: none;
  cursor: pointer;
  transition: opasity .4s;
}
