.header {
  margin: 0 auto;
  padding: 12px 22px;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  background-color: #FFD400;
}

@media (min-width: 1024px) {
  .header {
    padding: 20px 40px;
  }
}
