.footer__link-org {
  font-weight: 400;
  color: #7100ff;
  transition: none;
}
.footer__link-org:hover {
  cursor: default;
}
@media screen and (min-width: 1240px) {
  .footer__link-org {
    font-weight: 500;
  }
}
