.lead_button {
  background-image: url(../../../images/lead_button.svg);
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  box-sizing: border-box;
  padding: 0;
  margin-top: 8px;
}
