.logo-gallery__market {
  margin-left: 24px;
  min-width: 170px;
  height: 170px;
  background-image: url("../../../images/Рынок\ лого.svg");
  background-size: cover;
}

@media all and (max-width: 1439px) {
  .logo-gallery__market {
    background-image: url("../../../images/Рынок_black.png");
  }
}
