.promote {
  background: #F40934;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .promote {
    display: flex;
    align-items: baseline;
    background-color: #FFD400;
  }
}
