.popup__close-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../images/close-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  position: absolute;
  top: 28px;
  right: 20px;
}
