@media screen and (min-width: 1055px) {
  .digits__image_second {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 172px;
    left: 40px;
    width: 480px;
    height: 480px;
  }
}
