.photo-gallery__grid {
    margin: 20px auto 12px;
    max-width: 320px;
    display: grid;
    grid-template-columns: repeat(6, minmax(320px, 1fr));
    grid-template-rows: 1, 1;
    gap: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    overflow-y: hidden;
}
